@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* NAVBAR */
#logo-name{
    position: relative;
    left: 10rem; 
    font-size: 4em;
    font-family: 'Lobster', cursive;}
#nav-links{
    position: relative;
    right: 6rem;
    font-size: 1.2em;
}

#menu{
    position: relative;
    right: 2.5rem;
}
/* HERO */
#my-pic{
    height: 90%;       
    width: 80%;
    border-radius: 20%;
    background-color: black;
    filter: brightness(80%);
    opacity: 1;
}
#btn{
    font-size: 1.5em;
}
